.backgroundColor {
    background: #1da1f2;
}

.headerWidth {
    height: 150px;
    width: 2000px;
}
.alignRight {
    text-align: right;
}
.inputHeight {
    height: 85px;
}
.buttonHeight {
    height: 40px;
    width: 10px;
    margin-left: 1em;
}
.colorFondoTextBox {
    background-color: #e8f5fd;
}
.textBox {
    height: 100px;
}
.colorDeFondo{
    background-color: #e6ecf0;
}

.colorDeFondo2 {
    background-color: white;
}
.margin {
    margin: 20px;
}
.fontSize {
    font-size: .8em;
}
.textBlue {
    color: #5077bb;
    font-weight: bold
}
.fontSize2 {
    font-size: 1.2em;
}
.margin2 {
    margin: .6em 0 .6em 0;
}
.alignCenter {
    text-align: center;
}
.alignLeft {
    text-align: left;
}