<app-menu></app-menu>
<div class="container-fluid row bgColor">

  <div class="col-lg-3 col-md-12 col-sm-12">

    <div class="card card-profile">
      <div class="card-header dark-header">
      </div>
      <img class="card-img-top profile-img" src="../../assets/img/user.png" alt="Avatar">
      <div class="card-body profile-body">
        <h5 class="card-title profile-title">{{nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-muted profile-subtitle">{{username}}</h6>
        <div class="row">
          <div class="col-4">
            <small class="text-muted">Tweets</small>
            <br>
            <h6 class="title-bold">1</h6>
          </div>
          <div class="col-4">
            <small class="text-muted">Siguiendo</small>
            <br>
            <h6 class="title-bold">10</h6>
          </div>
          <div class="col-4">
            <small class="text-muted">Seguidores</small>
            <br>
            <h6 class="title-bold">15</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header transparent-header">Tendencias Para Ti •
        <small class="small-header">Cambiar</small>
      </h5>
      <div class="card-body">
        <div class="trending-panel">
          <h5 class="card-title trending-title">#MexicoVsBrasil</h5>
          <h6 class="card-subtitle mb-2 text-muted trending-subtitle">México Busca Hacer Historia en el mundial</h6>
        </div>

        <div class="trending-panel">
          <h5 class="card-title trending-title">Paco Memo</h5>
          <h6 class="card-subtitle mb-2 text-muted trending-subtitle">1.209 Tweets</h6>
        </div>
      </div>
    </div>


  </div>

  <div class="col-lg-6 col-md-12 col-sm-12">

    <div id="alertTweet" class="alert alert-light alert-dismissible fade show text-center" role="alert" style="display:none;">
      Tweet Realizado Con Éxito
    </div>

    <div class="card card-twit-user">
      <div class="card-body row">
        <div class="col-lg-1 col-md-1 col-sm-1">
          <img class="card-img-top user-twit-img" src="../../assets/img/user.png" alt="Avatar">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11">
          <textarea class="form-control" [(ngModel)]="textoT" rows="3" maxlength="280" placeholder="¿Qué está Pasando?"></textarea>
          <button type="button" class="btn btn-dark" (click)="createTweet()">Twittear</button>
        </div>
      </div>
    </div>

    <div class="card card-all-twits" *ngFor="let item of tweets[0]">
      <div class="card-body body-all-twits">
        <img class="img-user-twit" src="../../assets/img/user.png" />
        <div class="user-twit-title">
          <h6>{{item.user_tweet}}
            <small>{{item.username_tweet}} - {{item.tweet_hour}} Horas</small>
          </h6>
          <p class="card-text" style="width: 100%">{{item.description}}</p>
          <div class="row">
            <div class="col-4">
              <i class="fas fa-heart" (click)="LoveItTweet()"></i> {{item.tweet_count}}
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>

  </div>

  <div class="col-lg-3 col-md-12 col-sm-12">

    <div class="card">
      <h5 class="card-header transparent-header">A quién seguir •
        <small class="small-header">Actualizar</small>
      </h5>
      <div class="card-body">

        <div class="user-list row">

          <div class="col-md-2">
            <img class="card-img-top user-suggestion-img" src="../../assets/img/user-suggestion.jpg" alt="Suggestion">
          </div>
          <div class="col-md-10">
            <h6>Selección Nacional
              <i class="fas fa-certificate"></i>
            </h6>
            <br>
            <button type="button" class="btn btn-light">Seguir</button>
          </div>

        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text publicity-text">
          © 2018 Twitter
          <a class="link-footer">Sobre Nosotros</a>
          <br>
          <a class="link-footer">Centro de Ayuda </a>
          <a class="link-footer">Condiciones</a>
          <br>
          <a class="link-footer">Política de Privacidad </a>
          <a class="link-footer">Cookies</a>
          <br>
          <a class="link-footer">Información Sobre Anuncios </a>
          <a class="link-footer">Marca </a>
          <a class="link-footer">Blog</a>
          <br>
          <a class="link-footer">Estado </a>
          <a class="link-footer">Aplicaciones </a>
          <a class="link-footer">Empleos </a>
          <a class="link-footer">Marketing</a>
          <br>
          <a class="link-footer">Empresas </a>
          <a class="link-footer">Desarrolladores</a>
        </p>
      </div>
      <div class="card-footer text-muted">
        Publicitar en Twitter
      </div>
    </div>

  </div>

</div>



<!-- <span style="display:none">{{fecha | date : 'yyyy-MM-dd h:mm:ss a' }}</span>
<span style="display:none">{{fecha | date : 'h:mm:ss a' }}</span>
<span style="display:none">{{fecha | date : 'shortTime' }}</span>
<span style="display:none">{{fecha | date : 'shortDate' }}</span>
<span style="display:none">{{fecha | date : 'd/M/yy' }}</span> -->

<!-- <input [(ngModel)]="nombre" type="text" name="" id="">
<input [(ngModel)]="username" type="text">
<button (click)="printTweets()">Tweets</button>
<textarea [(ngModel)]="textoT" maxlength="280" cols="30" rows="10"></textarea>
<button (click)="createTweet()" >Crear tweet</button> -->